.dos-screen {
    background-color: #000;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    // border: 5px solid #0f0;
    padding: 10px;
}

.text-row {
    line-height: 1.5em;
}

.blink {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #0f0;
    }
}